<?xml version="1.0" encoding="utf-8"?>
<!--
	packages.config, Learning.EvolutionaryComputation

	Created by Pedro Sequeira, 2015/3/24

	pedro.sequeira@gaips.inesc-id.pt
-->
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.4.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>